
nav ul {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding: 1rem;
}

body {
    background-image: url('../images/mail.avif');
    background-size: 4%;
}

nav ul li {
    padding: 0.3rem;
    background-color: #f4f4f4f8;
    border-radius: 0.4rem;
    transition: all ease-in-out 0.4s;
}

nav ul li:hover {
    transform: scale(1.2);
    background-color: #777777;
    color: #f9f9f9;
}


.blog-container {
    background: white;
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

#submission-section {
    margin-bottom: 2rem;
}

form {
    margin-bottom: 2rem;
}

input, textarea {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
}

button:hover {
    background: #0056b3;
}

#posts-section {
    margin-top: 20px;
}

.post {
    background: rgba(255, 255, 255, 0.89);
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin: 0 0 10px;
}

.post-container{
    background: rgb(255, 255, 255);
}

.post button {
    background: #dc3545;
    margin-top: 10px;
    border-radius: 8px;
}

.post button:hover {
    background: #c82333;
}

h1, h2{
    text-align: center;
}

footer{
    background-color: white;
    border-radius: 0.2rem;
    bottom: 0;
    cursor: default;
    width: 100%;
    padding: 1.5rem;
}
